footer {
  background-color: #241c18;
  width: 100wh;
  height: 50vh;
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-top: 40px;
}
footer .container .left img {
  width: 200px;

}
footer .container .left h1 {
  text-align: center;
  color: var(--tColor);
  font-size: 40px;
}